<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="error_page">
        <h1>This is not the page you are looking for</h1>

        <p>You want to go <a href="/">home</a> and rethink your links.</p>
    </div>

<%- include('includes/end.ejs') %>