<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="error_page">
        <h1>The gigawatts are out of sync!</h1>
        <p>Head on back to where you came from, and wait till the future to come back to this page.</p>
    </div>

<%- include('includes/end.ejs') %>